@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* スタートとエンドがある　頭から並べるかおしりから並べるか */
    list-style: none;
}
/* これでコメント書きましょう　コントロール　スラッシュ */
.menu li {
    padding: 0 10px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    /* 960pxを必ず維持しながら動く 　画面幅に合わせて可変していく*/
    margin: 0 auto;
    flex-wrap: wrap;
    /* 横一列にぎちぎちに並べるのではなく改行して並べてくれるようになる。 */
    /* aline content /order/などが頻繁に使われる */
}

.wrap div {
    background: red;
    width: 31.25%;
    /* 300waru960 */
    height: 300px;
    /* 指定することはほぼない　今回は何も書かれていなかったため */
    line-height: 300px;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .menu {
        display: block;
    }
}
